<%- include('./partials/header.ejs') %>

        <h1>Edit Photo Page</h1>
        <form action="/photos/<%=photoList.id%>?_method=PUT" 
method="POST">
<fieldset>
    <label for="user">User:</label>
    <input type="text" name="user" value="<%photoList.user%>"/>
</fieldset>
<fieldset>
    <label for="url">URL:</label>
    <input type="text" name="url" value="<%photoList.url%>"/>
</fieldset>
            <input type="submit" name="" value="Submit 
Changes"/>
        </form>

<%- include('./partials/footer.ejs') %>
