<%- include('./partials/header.ejs') %>

<h1>Welcome to the PhotoWall!!</h1>
<h2>Post a pic!</h2> 
<a href="/photos/new">Upload New Photo</a>
<h3>Photos other users have posted:</h3> 
  <div class="img-fluid">
    <% for (let i = 0; i < photoList.length; i ++) { %>
      <div>
        <%= photoList[i].user%>
        <a href="/photos/<%=photoList[i].id; %>/show">
           <img height="80%" width="80%" src="<%= photoList[i].url %>"/>
          </a>
        </div> 
      <% } %>
      </div>
