<%- include('./partials/header.ejs') %>

  <h1>PhotoWall Index page</h1>
  <h3>PhotoWall:</h3>  
  <ul>
    <% for (let i = 0; i < photoList.length; i ++) { %>
      <li>
        <a href="/photos/<%=photoList[i].id; %>/show">
           <img height="80%" width="80%" src="<%= photoList[i].url %>"/>
          </a>
           <form action="/photos/<%=photoList[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
          </form>
      </li> 
      <% } %>
  </ul>

  <a href="/photos/new">Upload New Photo</a>