<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Form</title>
  </head>
  <body>
    <p>Submit a photo for upload:</p>
    <form action='/photos' method='post' >
      label for
      </form>

  </body>
</html>