<%- include('./partials/header.ejs') %>

<h1> New Photo page</h1>
<p>Upload a new photo:</p>
<form action="/photos" method="POST">
  <p>User: 
    <input type="text" name='name'/>
  </p>
  <p>URL: 
    <input type="text" name='url'/>
  <input type="submit" value="url">
  </p>
</form>

<a href="/photos">Back to Index</a>
