<%- include('./partials/header.ejs') %>

<h1> New Photo page</h1>
<p>Upload a new photo:</p>
<form action="upload" method="POST" enctype="multipart/form-data">
  <label for="file_photo">Photo:</label>
  <input type="file" name="file_photo" id="file_photo"><br>
  <input type="submit" value="Upload">
</form>

<%- include('./partials/footer.ejs') %>
