<!DOCTYPE html>
<head>
  <title>Showtos</title>
</head>
<body>
  <h1>Welcome to Showtows' Show Page!!</h1>
  <h3>Showtows</h3>
  <p>Here is a picture: <%= photo[<%=0%>] %></p>
  <a href="/photos">Back to Index</a>
</body>
</html>