<&- include('./partials/header.ejs') %>

  <h1>Welcome to Showtows' Show Page!!</h1>
  <h3>Showtows</h3>
  <p>Here is a picture: <%= photoList[<%=i%>] %></p>
  <a href="/photos">Back to Index</a>
  
  
  <%- include('./partials/footer.ejs') %>

